<section class="container">
  <!--BANNER-->
  <article class="item">
    <picture>
      <source media="(min-width: 1024px)" srcset="/vitrine-ml5/mlab5/images/banner_controle_desktop.png">
      <source media="(min-width: 600px)" srcset="/vitrine-ml5/mlab5/images/banner_controle_desktop.png">
      <img src="/vitrine-ml5/mlab5/images/banner_controle_desktop.png">
    </picture>
    <h1>Gerador de Aulas (.JSON)</h1>
  </article>
</section>

<section class="content-section">
  <article class="item-article">
    <h2><i class="material-icons"><span class="material-symbols-outlined">settings</span></i></h2>
    <h3><a class="button-style button-large" href="#/adm/cadastro-aulas" id="cadastro-aulas-link">Gerador de aulas</a></h3>
    <p >Você pode estudar, praticar, discutir e se aprofundar nessa plataforma.</p>
  </article>
</section>
