<!--js/ui/components/footer.html-->
<footer class="container">
   <article class="item">
    <h5>ML5W3S</h5>
    <p>Plataforma livre para uso, visite nosso repositório no github, se tiver a necessidade de um cursos personalizado entre em contato no e-mail abaixo..</p>
    </article>
   <article class="item">
    <h5>Cursos</h5>
    <ul class="left_list">
      <li><a href="/src/pages/cursos/html5.html">HTML5</a></li>
      <li><a href="/src/pages/cursos/css3">CSS3</a></li>
      <li><a href="/src/pages/cursos/js">Javascript</a></li>
      <li><a href="/src/pages/cursos/xml">XML</a></li>
      <li><a href="/src/pages/cursos/jquery.html">JQuery</a></li>
      <li><a ref="#!">Projetos Básicos</a></li>
      <li><a href="#!">Experiência em Projetos</a></li>
    </ul>
  </article>
  <div class="item-full-width">
    <h5>Contato:</h5>
    <ul>
      <li><a href="#!">marcelo.lauriano@gmail.com</a></li>
    </ul>
  </div>
    <div class="item-full-width">
    <h5>ML5Lab Todos os direitos reservados.</h5>
    </div>
</footer>
