<!--js/ui/components/footer.html-->
<footer class="container">
   <article class="item">
    <h5>ML5W3S</h5>
    <p>Plataforma livre para uso, visite nosso repositório no github, se tiver a necessidade de um cursos personalizado entre em contato no e-mail abaixo..</p>
    <button id="notas-toggle-button" class="button-style">Notas</button>
    </article>
   <article class="item">
    <h5>Cursos</h5>
    <ul class="left_list">
      <li><a href="/vitrine-ml5/mlab5/data/html5/aulas.html">HTML5</a></li>
      <li><a href="/vitrine-ml5/mlab5/data/css3/aulas.html">CSS3</a></li>
      <li><a href="/vitrine-ml5/mlab5/data/javascript/aulas.html">Javascript</a></li>
      <li><a href="/vitrine-ml5/mlab5/data/xml/aulas.html">XML</a></li>
      <li><a href="/vitrine-ml5/mlab5/data/jquery/aulas.html">JQuery</a></li>
      <li><a ref="#!">Projetos</a></li>
      <li><a href="#!">Experiência em Projetos</a></li>
    </ul>
  </article>
  <div class="item-full-width">
    <h5>Contato:</h5>
    <ul>
      <li><a href="#!">marcelo.lauriano@gmail.com</a></li>
    </ul>
  </div>
    <div class="item-full-width">
    <h5>ML5Lab Todos os direitos reservados.</h5>
    </div>
    <script>
      const btnNotes = document.querySelector('#btn-notes');
      if (btnNotes) {
        btnNotes.addEventListener('click', () => {
          window.dispatchEvent(new CustomEvent('ui:toggle', { detail: { name: 'notes' } }));
        });
      }
    </script>
</footer>
