* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 20px; }
  .question { margin-bottom: 15px; }
  .result { margin-top: 20px; font-weight: bold;
}

img {
  max-width: 100%; 
  height: auto;
  display: block;
}

a{
  font-family: 'Helvetica', 'Arial', sans-serif;
  color: #333;
  font-size: 9pt;
}

/* Cabeçalho */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #333;
  color: white;
  padding: 15px;
}

.nav {
  display: flex;
  gap: 20px;
}

.nav a {
  color: white;
  text-decoration: none;
}

/* Layout principal */
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;
  gap: 10px;
  padding: 10px;
}

.box, .question {
  background: #ddd;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
}

.question {
  text-align: left;
}

/* Ajuste da segunda linha */
.box4 {
  grid-column: span 2;
}

/* Ajuste da terceira linha */
.box5 {
  grid-row: span 3;
}

.box6 {
  grid-column: span 2;
}

.box7 {
  grid-column: span 2;
}

.materia {
  display: block; /* Garante que a imagem respeite margin e padding */
  margin: 15px; 
  padding: 15px; 
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #333;
  color: white;
  padding: 15px;
}

#logo{
  width: 30%;
  height: 30%;
}

/* Responsividade */
@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }
  .box4, .box5, .box6 {
    padding: 10px;
    gap: 10px 20px;
    min-width: 200px;
    min-height: 100px;
    grid-row: auto; 
    grid-column: auto;
    justify-content: center;
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;
    background: lightblue;
  }
}