.home-view .container {
    justify-content: space-between;
}

.home-view .container .course-overview.item {
    flex: 1 1 calc(20% - var(--gap-default));
}

@media (max-width: 1200px) {
    .home-view .container .course-overview.item {
        flex: 1 1 calc(25% - var(--gap-default));
    }
}

@media (max-width: 980px) {
    .home-view .container .course-overview.item {
        flex: 1 1 calc(33.333% - var(--gap-default));
    }
}

@media (max-width: 768px) {
    .home-view .container .course-overview.item {
        flex: 1 1 calc(50% - var(--gap-default));
    }
}

@media (max-width: 480px) {
    .home-view .container .course-overview.item {
        flex: 1 1 100%;
        max-width: 100%;
    }
}

.home-view .container .banner-item {
    flex-basis: 100%;
    max-width: 100%;
}