.parallax {
  background-image: url('images/prof_dev_desktop.png');
  background-attachment: fixed;
  height: 500px; /* Ajuste a altura conforme necessário */
}

.content {
  position: relative;
  z-index: 2; /* Garante que o conteúdo fique acima da imagem */
  padding: 20px;
}
