<section class="container">

  <article class="item">
    <h5><i class="material-icons">html</i></h5>
    <p class="center">HTML é uma linguagem de marcação utilizada para estruturar o conteúdo de páginas web. Ela define elementos como títulos, parágrafos, links, imagens e outros componentes, servindo como a base para a construção de qualquer site.</p>
    <a id="button" href="html5.html">Saiba Mais</a>
  </article>

  <article class="item">
    <h5><i class="material-icons">javascript</i></h5>
    <p class="center">jQuery é uma biblioteca JavaScript de código aberto projetada para simplificar a manipulação de documentos HTML, tratamento de eventos, animações e requisições AJAX em páginas web, escreva menos código e faça mais</p>
    <a id="button" href="jquery.html">Saiba Mais</a>
  </article>

  <article class="item">
    <h5><i class="material-icons">php</i></h5>
    <p class="center">PHP (um acrônimo recursivo para PHP: Hypertext Preprocessor) é uma linguagem de programação de código aberto, amplamente utilizada para desenvolvimento web e que pode ser incorporada em HTML</p>
    <a id="button" href="#">Saiba Mais</a>
  </article>

</section>
<section class="container">

  <!-- Linha 1 -->
    <article class="item">
      <h5><i class="material-icons">html</i></h5>
      <a id="button" href="html5.html">
      <picture>
        <source media="(min-width: 1024px)" srcset="images/cursos/html_desktop.jpg">
        <source media="(min-width: 600px)" srcset="images/cursos/html_tablet.jpg">
        <img src="images/cursos/html_mobile.jpg">
      </picture>
      </a>
    </article>

    <article class="item">
      <h5><i class="material-icons">css</i></h5>
      <a id="button" href="css3.html">
      <picture>
        <source media="(min-width: 1024px)" srcset="images/cursos/css_desktop.jpg">
        <source media="(min-width: 600px)" srcset="images/cursos/css_tablet.jpg">
        <img src="images/cursos/css_mobile.jpg">
      </picture>
      </a>
    </article>

    <article class="item">
      <h5><i class="material-icons">php</i></h5>
      <a id="button" href="php.html">
      <picture>
        <source media="(min-width: 1024px)" srcset="images/cursos/php_desktop.jpg">
        <source media="(min-width: 600px)" srcset="images/cursos/php_tablet.jpg">
        <img src="images/cursos/php_mobile.jpg">
      </picture>
      </a>
    </article>
</section>
<section class="container">
  <!-- Linha 2 -->
    <article class="item">
      <h5><i class="material-icons">css</i></h5>
      <a id="button" href="css3.html">
      <picture>
        <source media="(min-width: 1024px)" srcset="images/cursos/css_desktop.jpg">
        <source media="(min-width: 600px)" srcset="images/cursos/css_tablet.jpg">
        <img src="images/cursos/css_mobile.jpg">
      </picture>
      </a>
    </article>

    <article class="item">
      <h5><i class="material-icons">coffee</i></h5>
      <a id="button" href="java.html">
      <picture>
        <source media="(min-width: 1024px)" srcset="images/cursos/java_desktop.jpg">
        <source media="(min-width: 600px)" srcset="images/cursos/java_tablet.jpg">
        <img src="images/cursos/java_mobile.jpg">
      </picture>
      </a>
    </article>

    <article class="item">
      <h5><i class="material-icons">php</i></h5>
      <a id="button" href="php.html">
      <picture>
        <source media="(min-width: 1024px)" srcset="images/cursos/php_desktop.jpg">
        <source media="(min-width: 600px)" srcset="images/cursos/php_tablet.jpg">
        <img src="images/cursos/php_mobile.jpg">
      </picture>
      </a>
    </article>

    <article class="item">
      <h5><i class="material-icons">css</i></h5>
      <a id="button" href="css3.html">
      <picture>
        <source media="(min-width: 1024px)" srcset="images/cursos/css_desktop.jpg">
        <source media="(min-width: 600px)" srcset="images/cursos/css_tablet.jpg">
        <img src="images/cursos/css_mobile.jpg">
      </picture>
      </a>
    </article>

    <article class="item">
      <h5><i class="material-icons">css</i></h5>
      <a id="button" href="css3.html">
      <picture>
        <source media="(min-width: 1024px)" srcset="images/cursos/css_desktop.jpg">
        <source media="(min-width: 600px)" srcset="images/cursos/css_tablet.jpg">
        <img src="images/cursos/css_mobile.jpg">
      </picture>
      </a>
    </article>
</section>
<section class="container">
  <!-- Linha 3 -->
    <article class="item">
      <h5><i class="material-icons">rocket_launch</i></h5>
      <a id="button" href="breve.html">
      <picture>
        <source media="(min-width: 1024px)" srcset="images/cursos/breve_desktop.jpg">
        <source media="(min-width: 600px)" srcset="images/cursos/breve_tablet.jpg">
        <img src="images/cursos/breve_mobile.jpg">
      </picture>
      </a>
    </article>

    <article class="item">
      <h5><i class="material-icons">rocket_launch</i></h5>
      <a id="button" href="breve.html">
      <picture>
        <source media="(min-width: 1024px)" srcset="images/cursos/breve_desktop.jpg">
        <source media="(min-width: 600px)" srcset="images/cursos/breve_tablet.jpg">
        <img src="images/cursos/breve_mobile.jpg">
      </picture>
      </a>
    </article>

    <article class="item">
      <h5><i class="material-icons">rocket_launch</i></h5>
      <a id="button" href="breve.html">
      <picture>
        <source media="(min-width: 1024px)" srcset="images/cursos/breve_desktop.jpg">
        <source media="(min-width: 600px)" srcset="images/cursos/breve_tablet.jpg">
        <img src="images/cursos/breve_mobile.jpg">
      </picture>
      </a>
    </article>

    <article class="item">
      <h5><i class="material-icons">rocket_launch</i></h5>
      <a id="button" href="breve.html">
      <picture>
        <source media="(min-width: 1024px)" srcset="images/cursos/breve_desktop.jpg">
        <source media="(min-width: 600px)" srcset="images/cursos/breve_tablet.jpg">
        <img src="images/cursos/breve_mobile.jpg">
      </picture>
      </a>
    </article>

    <article class="item">
      <h5><i class="material-icons">rocket_launch</i></h5>
      <a id="button" href="breve.html">
      <picture>
        <source media="(min-width: 1024px)" srcset="images/cursos/breve_desktop.jpg">
        <source media="(min-width: 600px)" srcset="images/cursos/breve_tablet.jpg">
        <img src="images/cursos/breve_mobile.jpg">
      </picture>
      </a>
    </article>

</section>